<!DOCTYPE html>
<html lang="pt-br">

  <!-- Estilos -->
  <head>
    <title>AccessBank - BANKING TECHNOLOGIES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/site/css/animate.css">
    
    <link rel="stylesheet" href="/site/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/site/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/site/css/magnific-popup.css">

    <link rel="stylesheet" href="/site/css/aos.css">

    <link rel="stylesheet" href="/site/css/ionicons.min.css">

    <link rel="stylesheet" href="/site/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/site/css/jquery.timepicker.css">

    
	
	
    <link rel="stylesheet" href="/site/css/flaticon.css">
    <link rel="stylesheet" href="/site/css/icomoon.css">
    <link rel="stylesheet" href="/site/css/style.css">
  </head>
  <body>
  <!-- FIM Estilos -->
  
    <!-- Home -->
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">AccessBank</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="#Inicio" class="nav-link">Início</a></li>
	          <li class="nav-item"><a href="#SobrenNos" class="nav-link">Sobre Nós</a></li>
	          <li class="nav-item"><a href="#Solucao" class="nav-link">Solução</a></li>
	          <li class="nav-item"><a href="#Contato" class="nav-link">Contato</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
		
		<section id="Home">
    <div class="hero-wrap js-fullheight" style="background-image: url('/site/images/imagem1.jpg')" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          	<h2 class="subheading" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Solucionando seus problemas com:</h2>
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            	<span>Praticidade</span>. <span>Inovação</span>. <span>Segurança</span>.
            </h1>
            <p><a href="/session" class="btn btn-primary py-3 px-4">Login</a></p>
          </div>
        </div>
      </div>
    </div>
			</section>
    <section class="ftco-section ftco-no-pb services-section">
      <div class="container">
        <div class="row no-gutters d-flex">
          <div class="col-md-3  services align-self-stretch ftco-animate p-4">
            <div class="icon text-center"><span>
						 <i class="fas fa-cloud-upload-alt"></i>
						</span></div>
            <div class="media-body">
              <h3 class="heading mb-3 text-center">Armazenamento em nuvem</h3>
              <p>
					
							<li>Resolução de conflitos </li>
							<li>Segurança de Dados <br></li>
							<li>Diminuição de Erros <br></li>
							<li>Economia de energia<br></li>
							<li>Compartilhamento de Arquivos <br></li>

							 </p> 
            </div>
          </div>
          <div class="col-md-3 services align-self-stretch ftco-animate p-4">
            <div class="icon text-center"><span>
							<i class="fas fa-shield-alt"></i>
						</span></div>
            <div class="media-body">
              <h3 class="heading mb-3 text-center">Confiabilidade</h3>
              <p>
								<li>Dados Criptografados</li>
								<li>Sistema Resiliente</li>
								<li>Informações precisas</li>
								<li>Monitoramento em Tempo Real</li>

							</p>
            </div>
          </div>
          <div class="col-md-3 services align-self-stretch ftco-animate p-4">
            <div class="icon text-center"><span >
						<i class="fas fa-comments"></i></span></div>
            <div class="media-body">
              <h3 class="heading mb-3 text-center">Praticidade</h3>
              <p>
								<li>Interface Simples</li>
								<li>Sistema Descomplicado</li>
								<li>Acesso possível de qualquer dispositivo</li>
								<li>Evita Incidentes Devido aos Alertas</li>
			  </p>
            </div>
          </div>
          <div class="col-md-3 services align-self-stretch ftco-animate p-4">
            <div class="icon text-center"><span ><i class="fas fa-money-check-alt"></i></span></div>
            <div class="media-body">
              <h3 class="heading mb-3 text-center">Rentabilidade</h3>
              <p>
								<li>Prevê o Erro com Antecedência</li>
								<li>Sistema Econômico</li>
								<li>Ajuda Safar-se de Gastos Equivocados</li>
			  </p>
            </div>
          </div>
        </div>
      </div>
    </section>
   	<!-- FIM da Home -->
	
	<!-- Quem Somos -->
    <section class="ftco-counter" id="section-counter">
    	<div class="container-fluid">
				
    		<div class="row d-flex">
				
    			<div class="col-md-6 d-flex">
    			<!--	<div class="img d-flex align-self-stretch align-items-center justify-content-center" style="background-image:url(images/about.jpg);">
    					<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
    						<span class="icon-play"></span>
    					</a>
    				</div> -->
					</div>
    			<div class="col-md-12 px-5 py-5">
						<section id="SobrenNos">
    				<div class="row justify-content-start pt-3 pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          
		            <h2 class="mb-4">Quem somos</h2>
								<p>Uma StartUp fundada no ano de 2019, por cinco estudantes de Análise e Desenvlvimento de sistemas, com o intuito de oferecer
								uma experiência mais segura e prática aos gerenciadores dos sistemas de Caixas Eletrônicos. 
								Nós da AccessBank queremos ajudar a todos que nos solicitarem, pois nossa missão é simplificar para que você controle facilmente o seu negócio.
								Desejamos que você tenha a melhor experiência possível, afinal amamos o que fazemos e esperamos a continuidade do nosso negócio.
								</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 bg-light mb-4">
		              <div class="text">
		              	<div class="icon d-flex justify-content-center align-items-center">
		              		<span class="flaticon-lawyer"></span>
		              	</div>
		                <strong class="number" data-number="100">0</strong>
		                <span>Clientes Atendidos</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 bg-light mb-4">
		              <div class="text">
		              	<div class="icon d-flex justify-content-center align-items-center">
		              		<span class="flaticon-handshake"></span>
		              	</div>
		                <strong class="number" data-number="158">0</strong>
		                <span>Negócios Fechados</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 bg-light mb-4">
		              <div class="text">
		              	<div class="icon d-flex justify-content-center align-items-center">
		              		<span class="ion-ios-checkbox-outline"></span>
		              	</div>
		                <strong class="number" data-number="155">0</strong>
		                <span>Sucesso nos Casos</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center py-4 bg-light mb-4">
		              <div class="text">
		              	<div class="icon d-flex justify-content-center align-items-center">
		              		<span class="flaticon-medal"></span>
		              	</div>
		                <strong class="number" data-number="8">0</strong>
		                <span>Certificações</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
	<!-- FIM do Quem Somos -->

	<!-- Equipe -->
    <section class="ftco-section bg-secondary">
    	<div class="container-fluid">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
    
            <h2 class="mb-4">A Equipe</h2>
          </div>
        </div>
        <div class="row">
        	<div class="offset-1 col-lg-2 col-sm-6">
        		<div class="block-2 ftco-animate">
	            <div class="flipper">
	              <div class="front" style="background-image: url(/site/images/person_1.jpg);">
	                <div class="box">
	                  <h2>Ana Carolina </h2>
	              
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
	                <blockquote>
	                  <p style="font-size:10px"> Uma de nossas integrantes. Estudante de Análise e Desenvolvimento de Sistemas, 19 anos que busca conhecer mais sobre diversas coisas e 
					  aprimorar seus conhecimentos. <br> 
					  Responsável por front-end, porém disposta a lidar com todos os desafios que vier. Determinada, ágil e pronta 
					  para ajudar a resolver o seu problema.</p>
	                </blockquote>
	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <img src="/site/images/person_1.jpg" alt="">
	                  </div>
	                  <div class="name align-self-center">Ana Carolina Martins <span class="position">Desenvolvedora</span></div>
	                </div>
	              </div>
	            </div>
	          </div>
        	</div>
			
        	<div class="col-lg-2 col-sm-6">
        		<div class="block-2 ftco-animate">
	            <div class="flipper">
	              <div class="front" style="background-image: url(/site/images/person_2.jpg);">
	                <div class="box">
	                  <h2>Cristielen Oliveira </h2>
	                 
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
	                <blockquote>
	                  <p style="font-size:10px"> Uma jovem de 23 anos estudante de Análise e Desenvolvimento de Sistemas, disposta a aprimorar seus conhecimentos
											 na area de Back-end. Responsável pela parte de desenvolvimento do projeto, organização, disciplina e trabalho.
												Proativa e sempre disposta a auxiliar com o que for preciso.
										</p>
	                </blockquote>
	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <img src="/site/images/person_2.jpg" alt="">
	                  </div>
	                  <div class="name align-self-center">Cristielen Oliveira<span class="position">Desenvolvedora</span></div>
	                </div>
	              </div>
	            </div>
	          </div>
        	</div>
			
			
        	<div class="col-lg-2 col-sm-6">
        		<div class="block-2 ftco-animate">
	            <div class="flipper">
	              <div class="front" style="background-image: url(/site/images/person_3.jpg);">
	                <div class="box">
	                  <h2>Rodolfo Gregório</h2>
	                 
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
	                <blockquote>
	                  <p style="font-size:10px">Desenvolvedor em todos os sentidos da palavra. Acredita que comunicação não é só falar, ver ou ouvir, é fazer entender, pois só se odeia o que não se entende. Tecnologia é amor.</p>
	                </blockquote>
	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <img src="/site/images/person_3.jpg" alt="">
	                  </div>
	                  <div class="name align-self-center">Rodolfo Gregório<span class="position">Desenvolvedor</span></div>
	                </div>
	              </div>
	            </div>
	          </div>
        	</div>
			
        	<div class="col-lg-2 col-sm-6">
        		<div class="block-2 ftco-animate">
	            <div class="flipper">
	              <div class="front" style="background-image: url(/site/images/person_4.jpg);">
	                <div class="box">
	                  <h2>Victor Ferreira</h2>
	                  
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
	                <blockquote>
	                  <p style="font-size:10px"> Integrante da AccesBank. Estudante de Análise e desenvolvimentode Sistemas, 19 anos alem de desenvolvedor e
											 designer. Busca alto nível de adaptação no curso. Trabalha facilmente com os colegas 
											 de equipe. Paciente e desastrado está disposto a ajudar qualquer um.  

										</p>
	                </blockquote>
	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <img src="/site/images/person_4.jpg" alt="">
	                  </div>
	                  <div class="name align-self-center">Victor Ferreira <span class="position">Desenvolvedor</span></div>
	                </div>
	              </div>
	            </div>
	          </div>
        	</div>
			
	
        	<div class="col-lg-2 col-sm-6">
        		<div class="block-2 ftco-animate">
	            <div class="flipper">
	              <div class="front" style="background-image: url(/site/images/person_5.jpg);">
	                <div class="box">
	                  <h2>Wender Ramos</h2>
	               
	                </div>
	              </div>
	              <div class="back">
	                <!-- back content -->
	                <blockquote>
	                  <p style="font-size:10px"> Estudante de Análise de Sistemas, Wender 17 anos, busca acima de tudo conhecimento para entender
							e executar tarefas a que lhe foram propostas, sempre cumprindo com sua palavra e sempre buscando atingir todas as  suas	 
							metas pessoais e profissionais.</p>
	                </blockquote>
	                <div class="author d-flex">
	                  <div class="image mr-3 align-self-center">
	                    <img src="/site/images/person_5.jpg" alt="">
	                  </div>
	                  <div class="name align-self-center">Wender Ramos <span class="position">Desenvolvedor</span></div>
	                </div>
	              </div>
	            </div>
	          </div>
			</div>
        </div>
    	</div>
		</section>
		<!-- FIM Equipe -->
	
	<!-- Valores -->	
	<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	
            <h2 class="mb-4">Nossos Valores</h2>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<!--<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-family"></span>
        			</div>
        			<h3><a href="#">Family Law</a></h3> -->
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\team.png" alt="blala" width=60 height=60>
        			</div>
        			<h3>Colaboração</h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\heart.png" alt="blala" width=60 height=60>
        			</div>
        			<h3>Empatia</h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\idea1.png" alt="blala" width=60 height=60>
        			</div>
        			<h3>Criatividade</h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\elasticity.png" alt="blala" width=60 height=60>
        			</div>
        			<h3>Resiliência</h3>
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        		<!--	<div class="icon d-flex justify-content-center align-items-center">
        				<span class="flaticon-employee"></span>
        			</div>
        			<h3><a href="#">Employment Law</a></h3> -->
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\flower.png" alt="blala" width=60 height=60>
        			</div>
        			<h3>Ética</h3> 
        		</div>
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\balance.png" alt="blala" width=60 height=60>
        			</div>
        			<h3>Igualdade</h3>
        		</div>
        	</div>
			
			
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        			<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\save.png" alt="blala" width=80 height=80>
        			</div>
        			<h3>Ser Sustentável</h3>
        		</div>
				
				
				
        	</div>
        	<div class="col-md-3 col-lg-2 text-center">
        		<div class="practice-area ftco-animate">
        		<div class="icon d-flex justify-content-center align-items-center">
        				<img src="/site/images\icons\support.png" alt="blala" width=60 height=60>
        			</div>
        			<h3><a href="#">Valorização do ser Humano</a></h3> 
        		</div>
        	</div>
        </div>
    	</div>
    </section>
	<!-- FIM do Valores -->
	
	<!-- Solução -->
	<section id = "Solucao">
	 <section class="ftco-section testimony-section bg-primary">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading"></span>
            <h2 class="mb-4">Nossa Solução</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: src(/site/images/idea.png)">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">Empresa que atua no ramo de monitoramento de componentes de sistemas de caixas eletrônicos, 
					visando a antecipação de problemas e incidentes, atuando na detecção, análise e correção de possíveis falhas.</p>
                    
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/idea.png)">                    
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4"> Tendo o diferencial inovador de Geolocalização para identificar em quais localidades
													se encontram os caixas inoperantes.
				    </p>
                  </div>
                </div>
              </div>
			  
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(/site/images/idea.png)">                    
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4"> Contamos também com Emissões de alertas para que seja notificado onde se encontra o erro a ser tratado
					para evitar conflitos maiores.
					</p>
                  </div>
				  </div>
				  </div>
				  
				   <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(/site/images/idea.png)">                    
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4"> Uma equipe de especilistas em monitoramento trabalhando 24 horas por dia 7 dias por semana
										para garantir a segurança e funcionamento dos servidores.		
					</p>
                   
                  </div>
				  
                </div>
              </div>

                </div>
              </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	</section>
	<!-- FIM Solução -->
	
		
		<!-- Contato -->

		<section id="Contato">
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-2">
          <div class="col-md">
            <div class="ftco-footer-widget mb-2">
              <h2 class="ftco-heading-2">Sobre Nós</h2>
              <p> - A AccessBank irá ajudar seu negócio com eficiência, segurança e respeito as suas propostas. <br>  Nossa meta é atendê-los com qualidade sempre!
			  <br> <br>
								<p>Conheça nossas redes sociais</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          
				<div class="col-md">
							<div class="ftco-footer-widget mb-4">
							 <h2 class="ftco-heading-2">Horário de funcionamento</h2>
							 <div class="opening-hours">
								 <h4>Aberto aos dias:</h4>
								 <p class="pl-3">
									 <span>Segunda à Sexta: 9h às 20h</span> <br>
									 <span>Fins de Semana e Feriados : 9h às 14h</span>
								 </p>
							 </div>
						 </div>
					 </div>
					 <div class="col-md">
						 <div class="ftco-footer-widget mb-4">
							 <h2 class="ftco-heading-2">Solicite o Contato</h2>
							 <div class="block-23 mb-3">
								 <ul>
									 <li><span class="icon icon-map-marker"></span><span class="text">Rua Haddock Lobo, 595 - Cerqueira César, São Paulo - SP, 01419-002</span></li>
									 <li><a href="#"><span class="icon icon-phone"></span><span class="text">Suporte: (11) 3549-6570 0800-7736633 </span></a></li>
									 <li><a href="#"><span class="icon icon-envelope"></span><span class="text">suporte@accessbank.com.br</span></a></li>
								 </ul>
							 </div>
						 </div>
					 </div>
				 </div>
				 
        <div class="row">
          <div class="col-md-12 text-center">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
		</section>
  <!-- FIM Contato -->

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<!-- Efeitos JS -->
  <script src="/site/js/jquery.min.js"></script>
  <script src="/site/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/site/js/popper.min.js"></script>
  <script src="/site/js/bootstrap.min.js"></script>
  <script src="/site/js/jquery.easing.1.3.js"></script>
  <script src="/site/js/jquery.waypoints.min.js"></script>
  <script src="/site/js/jquery.stellar.min.js"></script>
  <script src="/site/js/owl.carousel.min.js"></script>
  <script src="/site/js/jquery.magnific-popup.min.js"></script>
  <script src="/site/js/aos.js"></script>
  <script src="/site/js/jquery.animateNumber.min.js"></script>
  <script src="/site/js/bootstrap-datepicker.js"></script>
  <script src="/site/js/jquery.timepicker.min.js"></script>
  <script src="/site/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/site/js/google-map.js"></script>
  <script src="/site/js/main.js"></script>
    
  </body>
</html>
<!-- FIM -->